DB_HOST=localhost
DB_PORT=5432
DB_NAME=MAP_DRYER
DB_USER=postgres
DB_PASSWORD=password

SOURCE_CSV=data/dryerMAP_dashboard_1min_original_features_only.csv
REPLAY_INTERVAL_SECONDS=60

ANOMALY_MODEL=../models/anomaly_pipeline/anomaly_pipeline.joblib
ANOMALY_SCALER=../models/anomaly_pipeline/anomaly_scaler.joblib
MOISTURE_MODEL=../models/moisture_pipeline/moisture_pipeline.joblib
REFERENCE_PROFILE=../models/anomaly_pipeline/reference_profile.json